header, img {
  height: 200px;
} 
body {
  margin: 0;
  padding: 0;
}

#logo {
  position: fixed;
  top: 5px;
  left: 20px;
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

#menuToggle {
  display: none;
  margin-top: 30vh;
}

label {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  transition: right 0.3s ease;
}

ul li {
  padding: 20px;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

#menuToggle:checked + label + ul {
  right: 0;
}

#menuToggle:not(:checked) + label + ul {
  right: -250px;
}
h1 {
  margin-top: 6vh;
  text-align: center;
}