.main_Button_1{
    background-color: white; 
    color: black; 
    width: 30vw;
    height: 15vw;
}

.container {
    position: relative;
  }
.center {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 21vw;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  footer{
    font-size: 0.5vw;
    margin-top: 15vw;
    width: 100%;
    height: 16vw;
    background-color: #FFEBCC;
    text-align: center;
}

.logo{
    width: 100%;
    height: 100%;
}